@{
    ViewData["Title"] = "RadioGroup";
    var stateList = ViewBag.StateList as List<Repository.Models.StateModel>;
}

<section class="row">

    <section class="col-6">
        <h3>Radio Button</h3>

        <h5>Gender</h5>
        <label for="male">Male</label>
        <input type="radio" name="gender" id="male"/>
        <label for="female">Female</label>
        <input type="radio" name="gender" id="female"/>
        <label for="other">Other</label>
        <input type="radio" name="gender" id="other">
    </section>

    <section class="col-6">
        <h3>Radio Group</h3>

        <h5>Nationality</h5>
        <div id="radioGroup"></div>
    </section>

</section>


@section Scripts {
    <script type="module">
        import { config } from "/js/config.js";

        function initRadioButtons() {
            $("input[name='gender']").kendoRadioButton();
        }

        function initRadioGroup() {
            $("#radioGroup").kendoRadioGroup({
                items: [
                    { label: "Indian", value: "Indian" },
                    { label: "American", value: "American" },
                    { label: "Brazilian", value: "Brazilian" },
                    { label: "Chinese", value: "Chinese" },
                ],
                value: "Indian",
                layout: "vertical",
                change: function(e) {
                    console.log(`Selected Value: ${e.sender.value()}`);
                }
            });
        }

        $(document).ready(function() {
            initRadioButtons();
            initRadioGroup();
        });
    </script>
}